
Hello #{@client.name},

Your upcoming session with #{@counselor.name} on #{@counseling_session.start_datetime.strftime("%B %e, %Y at %l:%M%P %Z")} has been cancelled. If you did not cancel your session within the MoodyCall web app but are still receiving this email, it is likely your counselor has canceled the session for private reasons. In the rare scenario that a counselor has canceled, you will be reimbursed in full for that session.

In either case, we encourage you to consider rescheduling, with either the same or one of our other great counselors, on http://app.moodycall.org.

Please do not hesitate to let us know if we can be of further assistance.

Thank you,
Your Friends at MoodyCall
