= "#{@greeting} #{@user.name},"

It looks like you need to add a Credit Card to your MoodyCall Account.

Without a card on file, we won't be able to process payment or authorize any upcoming sessions.

Click the link below to Add a Credit Card

= new_credit_card_url

Thanks!
  