- if @counselor.counseling_degrees.count > 0
  %h4
    Education

  %ul.list-unstyled
    - @counselor.counseling_degrees.each do |degree|
      %li
        = degree.degree_type
        in
        = degree.name
        from
        = degree.institution
