- if @counselor.counseling_certifications.count > 0
  %h4
    Certications

  %ul.list-unstyled
    - @counselor.counseling_certifications.each do |certification|
      %li
        = certification.name
