- if @counselor.counseling_licenses.count > 0
  %h4
    = image_tag "icons/license.png", :class =>"counselor-detail-icon"
    Licensed In

  %ul
    - @counselor.counseling_licenses.each do |license|
      %li
        = license.state
        = license.license_number
