- if @counselor.counseling_degrees.count > 0
  %h4
    Education

  - @counselor.counseling_degrees.each do |degree|
    = degree.degree_type
    in
    = degree.name
    %br
    = degree.institution
