- if @counselor.counseling_licenses.count > 0
  %h4
    Licensed In

  %ul.list-unstyled
    - @counselor.counseling_licenses.each do |license|
      %li
        = license.state
        = license.license_number
