- iterator = @ofset
- if @counselorsArr.length > 0
  - @counselorsArr.each do |counselors|
    - counselorArr = []
    - cDate = counselors['date']
    - counselorArr = counselors['counselors']
    - counselorArr.each do |counselor|
      - itemCounselor = counselor
      .insideSection{:class=>"insideSec#{iterator}"}
        = render partial: "shared/counselors/preview_with_schedule", locals: {counselor: itemCounselor, dates: cDate, iterator: iterator}
    - iterator += 1