.container

  %h4.search_results_overview
    %em
      #{pluralize(@counselors.count, "Professional")}
      - if @speciality.present?
        specializing in
        %em
          = @speciality.name
      - else
        Available
  
  - @counselors.each do |counselor|
    = render partial: "shared/counselors/preview_with_schedule", locals: {counselor: counselor}

    = render partial: "shared/counselors/modal_scheduler", locals: {counselor: counselor}
