.container-fluid
  %h1 Counselors

  %table.table
    %thead
      %tr
        %th Name
        %th Profession start date
        %th Hourly rate in cents
        %th
        
    %tbody
      - @counselors.each do |counselor|
        %tr
          %td= counselor.user.name
          %td= counselor.profession_start_date
          %td= number_to_currency(counselor.hourly_rate_in_dollars)
          %td= link_to 'View Profile', counselor
