#main.container
  %h1 Upcoming Counseling Sessions

  .row
    .col-sm-9
      = render "admin_facing/counseling_sessions/table"

      = will_paginate @counseling_sessions, previous_label: h("<"), next_label: h(">")
    .col-sm-3
      = render "admin_facing/counseling_sessions/navigation"
