
Greetings,

You're upcoming session with client #{@client.name} on #{@counseling_session.start_datetime.strftime("%B %e, %Y at %l:%M%P")} has been canceled. This has happened either because you, or your client, has canceled the session for private reasons. We're reaching out to them to see if they would like to reschedule.

(What happens when a client cancels? Visit http://moodycall.org/counselors-faq for more information.)

Thank you,
Your Friends at MoodyCall
