%p
  Greetings,

%p
  Unfortunately, #{@client.name} has cancelled their session with you on #{@counseling_session.start_datetime.strftime("%B %e, %Y at %l:%M%P")}.

%p
  We're reaching out to see if we can make sure everything is okay.

%p
  Thanks for your understanding.
