%section#home_intro
  %h1.text-center.text-white
    Face-to-Face with the
    %br Right Counselor for You


  .home_search_wrapper
    %h4.text-center.text-white
      %em
        What kind of counseling do you need?
    = form_tag counselors_path, method: :get do |g|
      .row
        .col-sm-5
          = select_tag :specialty, options_from_collection_for_select(Specialty.staffed_specialties, :name, :name), :class => "form-control", :label => false, :include_blank => false
        .col-sm-4
          = date_field_tag :datetime, Time.now.strftime("%Y-%m-%d"), :class => "form-control"
        .col-sm-3
          = submit_tag "Search", :class => "btn btn-primary btn-dark btn-lg btn-block"

:javascript
  $("nav").addClass("nav-special");

  function setDimensions(){
   var windowsHeight = $(window).height();
   $('#home_intro').css('height', windowsHeight + 'px');
  }

  setDimensions();

  //when resizing the site, we adjust the heights of the sections
  $(window).resize(function() {
   setDimensions();
  });
