.container
  %h1
    = @specialty.name

  %h2
    Counselors

  .table-responsive
    %table.table
      %tr
        %th
          Name
        %th

      - @specialty.counselors.each do |counselor|
        %tr
          %td
            = counselor.user.name
          %td.text-right
            = link_to "View Profile", counselor_path(counselor), :class => "btn btn-default btn-sm"
