@import 'palette';

#counselor_availability_container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	.unavailable {
		color: $text_muted;
	}
	.intervals_wrapper {
		display:none;
		max-width: 400px;
		margin: 10px auto 30px;
	}
}

.availability_day_wrapper {
	border: 1px solid #666;
	margin: 10px 0px;
	padding: 10px 0px;
	.radio, .checkbox {
		position: inherit;
		display: block;
		margin-top: 12px;
		margin-bottom: 10px;
		margin-left: 20px;
	}
}

.availability_day_title {
	padding: 12px 0px;
  font-size: 25px;
}
