// Place all the styles related to the Counselors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'pallet';

#counselor_search {
	background-color: $background_grey_light;
	padding: 20px;
}

#counselor_availability_table {
	.unavailable {
		color: $text_muted;
	}
	.intervals_wrapper {
		display:none;
		max-width: 400px;
	}
}
