// Place all the styles related to the Counselors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'palette';

#counselor_search {
	display:none; 
	background-color: $primary_color;
	padding: 20px;
	text-align: center;
}

#counselor_search_toggle_wrapper {
	position: relative;
	#counselor_search_toggle {
		position: absolute;
		right: 15px;
		cursor: pointer;
		display: inline-block;
		padding: 3px 15px 8px;
		background-color: #32a878;
		text-align: center;
		color: white;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		float: right;
		 top: -1px;
	}
}

.counselor-detail-icon {
	width: 28px;
  margin-top: -5px;
}

#counselor_dts_change_form {
	background-color: $primary_color;
	padding: 15px;
	color: white;
	.form-control {
		height: 41px;
	}
	.fa {
		padding: 6px 0px;
	}
}

.search_results_overview {
	color: $primary_color;
	padding: 20px 0px 5px;
	font-size: 12px;
}

.counselor_pubic_rating_wrapper {
	margin-bottom: 10px;
}

.counselor_professional_overview_wrapper {
	padding: 40px 0 0 0;
}

.counselor_preview_wrapper {
	margin-bottom: 20px;
	.counselor_image {
		width: 100%;
	}
	&.preview_with_schedule {
	}

	.counselor_name {
		font-size: 24px;
		margin-top: 5px;
		text-transform: capitalize;
		color: #333;
	}

	.counselor_avatar_image {
		max-width: 150px;
	}

	.counselor_specialty {
		margin-right: 5px;
		font-size: 10px;
		font-style: italic;
		border-bottom: 1px solid $grey_medium;
		padding-bottom: 2px;
		color: $grey_medium;
	}

	.counselor_pubic_rating_wrapper {
		margin: 10px 0px;
		font-size: 10px;
		line-height: 16px;
		.counselor_ratings_total {
			margin-left: 5px;
			display: inline;
		}
	}
}

#counselor_filter {
	li.active {
		 border-bottom: 2px solid $primary_color;
	}
}

.list-counselor-edit-options li {
	a {
		padding: 5px;
	}
	&.active a {
		border-bottom: 2px solid $primary_color;
	}
}

.counselor_favorite_wrapper {
	padding: 5px 0px;
	a {
		color: $grey_medium;
	}
	a:hover {
		color: $moody_red;
		opacity: 1;
	}
	.favorited {
		color: $moody_red;
	}
	.favorited:hover {
		color: $grey_medium;
	}
}

.counselor_availability_wrapper {
	background-color: $background_grey_light;
	padding: 30px;
	height: auto;
	margin-bottom: -50px;
	.availability_time_button_wrapper {
		padding: 3px;
	}
	.counselor_availability_day_wrapper {
		margin: 0px;
	}
}

.counselor_availability_preview_wrapper {
	margin-top: 20px;
	margin-right:- 16px;
	[class^="col-"] {
		padding: 0px;
		padding-right: 16px;
		margin-bottom: 16px;
		.btn{
			padding: 11px;
			font-size: 18px;
			font-weight: 500;
			letter-spacing: .5px;
			border-radius: 5px;
		}
	}
}

.extra-times-for-day {
	display: none;
}

.counselor-toggle {
	 margin: 15px 0px 10px 0px;
}
