// Place all the styles related to the CounselingSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#userDiv {
  position: absolute;
  z-index: 99;
}

.counseling_session_price_wrapper table {
  width: 100%;
  margin: 15px 0px 5px;
  font-style: italic;
}