// Place all the styles related to the Counselors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary_color: #32a878;
$primary_color_dark: #267e5a;
$primary_color_darker: #1f6649;

$moody_red: #ed6c68;

$background_grey_light: #F2F2F2;

$grey_light: #e5e5e5;
$grey_medium: #b2b2b2;
$grey_dark: #777;

$text_muted: #E2E2E2;
