// Place all the styles related to the Counselors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary_color: #00B193;
$primary_color_dark: #00836D;

$moody_red: #D23E3E;

$background_grey_light: #E2E2E2;

$text_muted: #E2E2E2;
