// Place all the styles related to the Counselors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary_color: #22B677;
$primary_color_dark: #1A8C5B;

$background_grey_light: #E2E2E2;

$text_muted: #E2E2E2;
