body {
  background-color: #fff;
  color: #333;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: .5px;
}

p, ol, ul, td {
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: .5px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

select.form-control {
  height: 42px;
}

img {
  max-width: 100%;
}

.text-white {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  vertical-align: middle;
}

#main {
  min-height: 400px;
  padding-bottom: 50px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: block;
  color: white;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
  border-top: 1px solid #E5E5E5;
}
