@import 'palette';

.remove_row {
  cursor: pointer;
}

label, th {
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
}

label {
	display: block;
}

.timezone_picker {
	max-height: 300px;
	overflow: scroll;
}

.user_navigation_icon img {
	max-width: 25px;
	border-radius: 50px;
}

.btn.btn-primary.navbar-btn {
	padding: 6px 15px;
	color: white;
}

.nav-special {
	position: absolute;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	border: 0px;
	.time_zone_nav {
		display: none;
	}
	&.navbar-default .navbar-nav > li > a {
		color: #fff;
	}
}

#ui-datepicker-div {
	background-color: #FFF;
	padding: 15px;
	border: 2px solid $primary_color;
	display:none;
	td {
		text-align: center;
		padding: 5px;
	}
}

footer h3 {
	text-transform: uppercase;
	font-size: 18px;
}

.chosen-container-multi .chosen-choices {
	border: 1px solid #CCC;
	border-radius: 4px;
	background-image: none;
	padding: 6px;
	li.search-choice {
		position: relative;
		margin: 0px 0 0px 5px;
	}
}

.chosen-container {
	min-width: 340px;
}

.chosen-container-active .chosen-choices {
	border: none;
	box-shadow: 0px 0px 6px #208FFF;
}

.chosen-container-multi .chosen-choices li.search-choice {
	position: relative;
	margin: 3px 0 3px 5px;
	padding: 8px 20px 8px 10px;
	border: 1px solid #AAA;
	border-radius: 3px;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	box-shadow: 0 0 2px #FFF inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	color: #333;
	line-height: 13px;
	cursor: default;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	position: absolute;
	top: 9px;
	right: 3px;
	display: block;
	width: 12px;
	height: 12px;
	background: url(/assets/chosen-sprite.png) -42px 1px no-repeat;
	font-size: 1px;
}
