@import 'palette';

.pagination {
	a, em, span {
		position: relative;
		float: left;
		padding: 6px 12px;
		margin-left: -1px;
		line-height: 1.42857143;
		color: $primary_color;
		text-decoration: none;
		background-color: #fff;
		border: 1px solid #ddd;
	}
	em {
		color: $grey_dark;
	}
	.disabled {
		display: none;
	}
}

.hint {
	font-size: 12px;
	color: #bbb;
	font-style: italic;
}

.color_primary {
	color: $primary_color;
}

.background_color_primary {
	background-color: $primary_color;
}

.color_primary_dark {
	color: $primary_color_dark;
}

.background_color_primary_dark {
	background-color: $primary_color_dark;
}

.color_primary_darker {
	color: $primary_color_darker;
}

.background_color_primary_darker {
	background-color: $primary_color_darker;
}

.color_moody_red {
	color: $moody_red;
}

.background_color_moody_red {
	background-color: $moody_red;
}

.background_color_grey_light {
	background-color: $background_grey_light;
}

.color_grey_light {
	color: $grey_light;
}

.color_grey_medium {
	color: $grey_medium;
}

.color_grey_dark {
	color: $grey_dark;
}

.remove_row {
  cursor: pointer;
}

.panel h3.lead {
	margin: 2px 0px 0px 0px;
}

label, th {
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
}

label {
	display: block;
}

.timezone_picker {
	max-height: 300px;
	overflow: scroll;
}

.time_zone_hover_wrapper {
	.time_zone_hover_name {
		display: none;
	}
	&:hover {
		.time_zone_hover_name {
			display: inline;
		}
	}
}

.user_navigation_icon img {
	max-width: 25px;
	border-radius: 50px;
}

.visible-special {
	display: none;
}

.navbar.nav-special {
	position: absolute;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	border: 0px;
	& > .container-fluid .navbar-brand{
		padding: 8px 15px 0px 15px;
		max-width: 179px;
		max-height: 100%;
	}
	.visible-special {
		display: inline-block;
	}
	.hidden-special {
		display: none;
	}
	.time_zone_nav {
		display: none;
	}
	&.navbar-default .navbar-nav > li > a {
		color: #fff;
	}
}

#ui-datepicker-div {
	background-color: #FFF;
	padding: 15px;
	border: 1px solid #CCC;
	display: none;
	border-top: 0px;
	margin-top: -1px;
	td {
		text-align: center;
		padding: 5px;
	}
	.ui-datepicker-title {
		text-align: center;
		padding: 14px 5px;
		text-transform: uppercase;
		font-weight: 800;
	}
	.ui-datepicker-next {
		float: right;
	}
}

footer h3 {
	text-transform: uppercase;
	font-size: 18px;
}

.chosen-container-multi .chosen-choices {
	border: 1px solid #CCC;
	border-radius: 4px;
	background-image: none;
	padding: 3px 6px 2px;
	li.search-choice {
		position: relative;
		margin: 0px 0 0px 5px;
	}
}

.chosen-container {
	min-width: 340px;
}

.chosen-container-active .chosen-choices {
	border: none;
	box-shadow: 0px 0px 6px #208FFF;
}

.chosen-container-multi .chosen-choices li.search-choice {
	position: relative;
	margin: 3px 0 3px 5px;
	padding: 8px 20px 8px 10px;
	border: 1px solid #AAA;
	border-radius: 3px;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	box-shadow: 0 0 2px #FFF inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	color: #333;
	line-height: 13px;
	cursor: default;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	position: absolute;
	top: 9px;
	right: 3px;
	display: block;
	width: 12px;
	height: 12px;
	background: url(/assets/chosen-sprite.png) -42px 1px no-repeat;
	font-size: 1px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	font-size: 14px;
	height: 33px;
}

.session_preview {
	border: 3px solid $grey_light;
	
	.helper{
		display: inline-block;
    height: 100%;
    vertical-align: middle;
	}
	.counselor_favorite_wrapper {
		float: right;
		padding: 10px;
		font-size: 16px;
	}
	.session_preview_icon {
		float: left;
		height: 125px;
		background-color: $primary_color;
		color: #fff;
		padding: 50px 20px;
		margin: -3px 0px -3px -3px;

		.fa {
			font-size: 26px;
			vertical-align: middle;
		}
	}
	.session_preview_img {
		max-width: 120px;
	}

	.session_preview_counselor_title {
		font-size: 24px;
		margin-top: 5px;
		text-transform: capitalize;
		color: #333;
	}


}

