%footer.footer
  .container
    .row
      .col-sm-4
        %p
          MoodyCall is the fastest way to schedule a session with the right counselor to meet your personal needs.
      .col-sm-4
        %ul.list-unstyled
          %li
            = link_to 'Become a Counselor', new_counselor_path
          %li
            = link_to 'Share with a Friend', ""
          %li
            = link_to 'Schedule a Session', root_url
      .col-sm-4
        %ul.list-unstyled
          %li
            Terms
          %li
            Privacy
          %li
            1.555.1234
          %li
            support@moodycall.com
