#counselor_search
  .container
    = form_tag counselors_path, method: :get do |f|
      .row
        .col-sm-5
          =  select_tag :specialty, options_from_collection_for_select(Specialty.staffed_specialties, :name, :name, params[:specialty]), :class => "form-control", :label => false, :include_blank => false
        .col-sm-4
          = date_field_tag :datetime, @dts, :class => "form-control"
        -# .col-sm-2
        -#   = select_tag :gender, options_for_select([ "Either", "Male", "Female" ], "Either"), :class => "form-control"
        .col-sm-3
          = submit_tag "Find a Counselor", :class => "btn btn-primary btn-dark btn-lg btn-block"

#counselor_search_toggle_wrapper.container
  #counselor_search_toggle
    .fa.fa-search