#counselor_search
  %ul.list-inline
    %li
      Schedule a Session
    %li
      %input{:placeholder => "Speciality"}
    %li
      %input{:placeholder => "Datetime"}
    %li
      = link_to "Search", counselors_path, :class => "btn btn-primary btn-sm"
